<form [formGroup]="form">
  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-10">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome"
        [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
        formControlName="nome">
        <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
          Nome é obrigatório
        </div>
      </div>
      <div class="form-group col-md-5">
        <label>Código</label>
        <input type="text" class="form-control" placeholder="Código - apenas números"
        [ngClass]="{'is-invalid': f.codigo.errors && f.codigo.touched}"
        formControlName="codigo">
        <div *ngIf="f.codigo.errors?.required" class="invalid-feedback">
          Código é obrigatório
        </div>
        <div *ngIf="f.codigo.errors?.maxlength || f.codigo.errors?.minlength" class="invalid-feedback">
          Código deve ter 5 digitos
        </div>
        <div *ngIf="f.codigo.errors?.pattern" class="invalid-feedback">
          Código formado apenas por números
        </div>
      </div>
    </div>
    <div class="form-row rounded">
      <div class="d-grid">
        <div class="btn-dark btn-sm" style="cursor: text;">Para atribuição de contratos: </div>
        <div class="d-flex mt-3 me-auto">
          <div class="form-group col-md-5">
            <label>Parcelas pagas</label>
            <input type="number" class="form-control" placeholder=""
            formControlName="parcelas"
            [(ngModel)]="parcelasPagas"
            value="{{_parcelasPagas}}"
            [ngClass]="{'is-invalid': f.parcelas.errors && f.parcelas.touched}">
            <div *ngIf="f.parcelas.errors?.required" class="invalid-feedback">
              Parcelas pagas para vínculo de contratos é obrigatório
            </div>
            <div *ngIf="f.parcelas.errors?.pattern" class="invalid-feedback">
              O campo de parcelas pagas só aceita números.
            </div>
          </div>
          <div class="form-group col-md-5">
            <label>Saldo devedor</label>
            <input type="text" class="form-control" placeholder=""
            [(ngModel)]="saldoDevedor"
            formControlName="saldoDev"
            [ngClass]="{'is-invalid': f.saldoDev.errors && f.saldoDev.touched}"
            value={{_saldoDevedor}}>
            <div *ngIf="f.saldoDev.errors?.required" class="invalid-feedback">
              Saldo devedor para vínculo de contratos é obrigatório
            </div>
            <div *ngIf="f.saldoDev.errors?.pattern" class="invalid-feedback">
              O campo de saldo devedor deve ser informado como
              número com duas casas decimais separadas por vírgula. Ex: 1300,30
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <a routerLink="/vendedores/lista" class="mr-auto">
        <button class="btn btn-outline-secondary border">
        Cancelar
        </button>
      </a>
      <button class="btn btn-success" (click)="SalvarAlteracoes()">
        Salvar
      </button>
    </div>
  </div>
</form>
